Repository beastyrabbit/cat_idler: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint

gitleaks:
  run: gitleaks protect --staged --no-banner

lint:
  run: bun run lint

cat-sim: port core enum taxonomy (P1.2)
  Cargo.lock
  crates/cat-sim/Cargo.toml
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/types.rs
  docs/migration/BOARD.md
Due: gitleaks

codex runner: redirect stdin from /dev/null
  codex/run-persona.sh
Due: none

cat-sim: port P1 foundation — state structs + constant tables (P1.3–P1.6)
  crates/cat-sim/Cargo.toml
  crates/cat-sim/src/cost_constants.rs
  crates/cat-sim/src/entities.rs
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/needs_constants.rs
  crates/cat-sim/src/test_acceleration.rs
  docs/migration/BOARD.md
Due: gitleaks

P2.1: scaffold world-gen modules + allow TS fixture generation
  AGENTS.md
  crates/cat-sim/src/biomes.rs
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/noise.rs
  crates/cat-sim/src/terrain_gen.rs
  crates/cat-sim/src/world_gen.rs
  docs/migration/BOARD.md
Due: none

P2.4/P2.5: terrain + world generation port specs
  docs/migration/BOARD.md
  docs/migration/p2-terrain-gen-spec.md
  docs/migration/p2-world-gen-spec.md
Due: none

cat-sim: port seeded noise + biomes with TS golden fixtures (P2.2, P2.3)
  Cargo.lock
  crates/cat-sim/Cargo.toml
  crates/cat-sim/src/biomes.rs
  crates/cat-sim/src/noise.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p2/biome_vectors.json
  docs/migration/fixtures/p2/noise_vectors.json
Due: gitleaks

cat-sim: port terrain generator + world coordinates (P2.6–P2.11)
  crates/cat-sim/src/terrain_gen.rs
  crates/cat-sim/src/world_gen.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p2/terrain_chunks.json
  docs/migration/fixtures/p2/terrain_fields.json
  docs/migration/fixtures/p2/terrain_roles.json
  docs/migration/fixtures/p2/world_coords.json
Due: gitleaks

cat-sim: port terrainWorld gameplay bridge; close P2 (P2.13–P2.15)
  crates/cat-sim/src/world_gen.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p2/world_chunks.json
Due: gitleaks

cat-sim: P3 cat-AI independent modules + pathfinding/director specs
  crates/cat-sim/src/cat_ai.rs
  crates/cat-sim/src/leader_ai.rs
  crates/cat-sim/src/leader_director.rs
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/movement.rs
  crates/cat-sim/src/pathfinding.rs
  crates/cat-sim/src/policy.rs
  crates/cat-sim/src/tasks.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p3/policy.json
  docs/migration/specs/leader_director.md
  docs/migration/specs/pathfinding.md
Due: gitleaks

cat-sim: port leader director IAUS + planLeaderActions (P3.7)
  crates/cat-sim/src/leader_director.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p3/leader_director.json
Due: gitleaks

cat-sim: port deterministic A* pathfinding (P3.3)
  crates/cat-sim/src/pathfinding.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p3/pathfinding.json
Due: gitleaks

cat-sim: port movement (P3.4)
  crates/cat-sim/src/movement.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p3/movement.json
Due: gitleaks

codex runner: QA/researcher effort xhigh->high (xhigh times out on big modules)
  codex/run-persona.sh
Due: none

Board: close P3 (cat AI) — pathfinding/movement/leader-director + policy/tasks/cat_ai/leader_ai
  docs/migration/BOARD.md
Due: none

cat-sim: port life-sim wave 1 — needs, age, breeding, genetics (P4.1-3,6)
  crates/cat-sim/src/age.rs
  crates/cat-sim/src/breeding.rs
  crates/cat-sim/src/genetics.rs
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/life_sim.rs
  crates/cat-sim/src/needs.rs
  crates/cat-sim/src/survival.rs
  docs/migration/BOARD.md
  docs/migration/fixtures/p4/age.json
  docs/migration/fixtures/p4/genetics.json
  docs/migration/fixtures/p4/needs.json
Due: gitleaks

cat-sim: port survival tick (P4.4)
  crates/cat-sim/src/survival.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port life simulation (P4.5) — closes P4 dev cards
  crates/cat-sim/src/life_sim.rs
  docs/migration/BOARD.md
Due: none

P5 scaffold: close P4, pre-declare economy/housing/roads modules
  crates/cat-sim/src/depletion.rs
  crates/cat-sim/src/housing.rs
  crates/cat-sim/src/idle_engine.rs
  crates/cat-sim/src/idle_rules.rs
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/production.rs
  crates/cat-sim/src/roads.rs
  crates/cat-sim/src/shrine.rs
  crates/cat-sim/src/smithy.rs
  crates/cat-sim/src/spoilage.rs
  crates/cat-sim/src/storage.rs
  crates/cat-sim/src/trips.rs
  crates/cat-sim/src/village_area.rs
  crates/cat-sim/src/village_layout.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port economy wave 1 — idle engine/rules, production, smithy (P5.1-4)
  crates/cat-sim/src/idle_engine.rs
  crates/cat-sim/src/idle_rules.rs
  crates/cat-sim/src/production.rs
  crates/cat-sim/src/smithy.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port economy wave 2 — storage, shrine, trips, depletion, spoilage (P5.5-7)
  crates/cat-sim/src/depletion.rs
  crates/cat-sim/src/shrine.rs
  crates/cat-sim/src/spoilage.rs
  crates/cat-sim/src/storage.rs
  crates/cat-sim/src/trips.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port village layout (P5.9)
  crates/cat-sim/src/village_layout.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port housing (P5.8 part 1)
  crates/cat-sim/src/housing.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port roads (P5.8 part 2)
  crates/cat-sim/src/roads.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port village area; close P5 (economy + housing + roads)
  crates/cat-sim/src/village_area.rs
  docs/migration/BOARD.md
Due: none

P6 scaffold: pre-declare military/governance/upgrade-tree modules
  crates/cat-sim/src/combat.rs
  crates/cat-sim/src/elections.rs
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/threat.rs
  crates/cat-sim/src/upgrade_tree.rs
  crates/cat-sim/src/warriors.rs
  crates/cat-sim/src/zones.rs
  docs/migration/BOARD.md
Due: none

codex runner: drop network_access (its namespace setup intermittently hangs)
  codex/run-persona.sh
Due: none

cat-sim: port threat/raid model (P6.1)
  crates/cat-sim/src/threat.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port warriors + elections (P6.2, P6.4)
  crates/cat-sim/src/elections.rs
  crates/cat-sim/src/warriors.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port combat (P6.3)
  crates/cat-sim/src/combat.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port zones (P6.5)
  crates/cat-sim/src/zones.rs
  docs/migration/BOARD.md
Due: none

cat-sim: port upgrade tree + research; close P6
  crates/cat-sim/src/upgrade_tree.rs
  docs/migration/BOARD.md
Due: none

Golden-master generator works (ESM fix) + first full-tick fixture
  docs/migration/fixtures/worker-tick-seed1234-t40.json
  scripts/gen-golden.ts
Due: gitleaks, lint

P7: workerTick port spec + phase plan
  docs/migration/BOARD.md
  docs/migration/specs/world_tick.md
Due: none

cat-sim: world_tick runtime state + skeleton (P7.1)
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/world_tick.rs
  docs/migration/BOARD.md
Due: none

cat-sim: world_tick core economy phases (P7.2)
  crates/cat-sim/src/world_tick.rs
Due: none

cat-sim: world_tick world-upkeep + governance phases (P7.3)
  crates/cat-sim/src/world_tick.rs
Due: none

cat-sim: world_tick leader-director + assignment phases (P7.4)
  crates/cat-sim/src/world_tick.rs
Due: none

cat-sim: world_tick job-execution + hauling phases (P7.5)
  crates/cat-sim/src/world_tick.rs
  docs/migration/BOARD.md
Due: none

cat-sim: world_tick movement pass (P7.6)
  crates/cat-sim/src/world_tick.rs
Due: none

cat-sim: world_tick roads + raids + reset phases — all 37 phases wired (P7.7)
  crates/cat-sim/src/world_tick.rs
Due: none

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs}
