Repository beastyrabbit/cat_idler: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yaml,yml,toml}"
      run: gitleaks protect --staged --no-banner
    lint:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: bun run lint
    typecheck:
      run: bun run typecheck

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test

docs: update CLAUDE.md with session learnings
  CLAUDE.md
Due: none

feat: newspaper UI with subscription modal
  app/api/subscriber-hash/route.ts
  app/game/layout.tsx
  app/game/newspaper/page.tsx
  app/layout.tsx
  docs/UI_CONCEPTS.md
  hooks/useGameDashboard.ts
Due: gitleaks, lint

fix: address code review findings
  app/api/subscriber-hash/route.ts
  app/game/newspaper/page.tsx
  app/layout.tsx
  hooks/useGameDashboard.ts
Due: gitleaks, lint

fix: address greptile review feedback
  app/api/subscriber-hash/route.ts
  app/game/newspaper/page.tsx
Due: gitleaks, lint

feat: newspaper UI with subscription modal (#2)
  app/api/subscriber-hash/route.ts
  app/game/layout.tsx
  app/game/newspaper/page.tsx
  app/layout.tsx
  docs/UI_CONCEPTS.md
  hooks/useGameDashboard.ts
Due: gitleaks, lint

feat: consolidate tick system and add game modules
  CLAUDE.md
  app/game/newspaper/page.tsx
  app/game/page.tsx
  components/colony/EventLog.tsx
  convex/events.ts
  convex/game.ts
  convex/gameTick.ts
  convex/schema.ts
  docs/TASKS.md
  docs/TESTING.md
  hooks/useGameDashboard.ts
  lib/game/housePlanner.ts
  lib/game/index.ts
  lib/game/policy.ts
  lib/game/seededRng.ts
  lib/game/survival.ts
  tests/unit/game/housePlanner.test.ts
  tests/unit/game/idleEngine.test.ts
  tests/unit/game/idleRules.test.ts
  tests/unit/game/needs.test.ts
  tests/unit/game/policy.test.ts
  tests/unit/game/seededRng.test.ts
  tests/unit/game/survival.test.ts
  types/game.ts
  vitest.config.ts
Due: gitleaks, lint

fix: address code review findings
  convex/game.ts
  hooks/useGameDashboard.ts
  lib/game/housePlanner.ts
  lib/game/index.ts
  lib/game/policy.ts
  lib/game/seededRng.ts
  lib/game/survival.ts
  tests/unit/game/policy.test.ts
  tests/unit/game/seededRng.test.ts
Due: gitleaks, lint

feature/tick consolidation game modules (#3)
  CLAUDE.md
  app/game/newspaper/page.tsx
  app/game/page.tsx
  components/colony/EventLog.tsx
  convex/events.ts
  convex/game.ts
  convex/gameTick.ts
  convex/schema.ts
  docs/TASKS.md
  docs/TESTING.md
  hooks/useGameDashboard.ts
  lib/game/housePlanner.ts
  lib/game/index.ts
  lib/game/policy.ts
  lib/game/seededRng.ts
  lib/game/survival.ts
  tests/unit/game/housePlanner.test.ts
  tests/unit/game/idleEngine.test.ts
  tests/unit/game/idleRules.test.ts
  tests/unit/game/needs.test.ts
  tests/unit/game/policy.test.ts
  tests/unit/game/seededRng.test.ts
  tests/unit/game/survival.test.ts
  types/game.ts
  vitest.config.ts
Due: gitleaks, lint

docs: update latest release to v0.3.0
  CLAUDE.md
Due: none

docs: modernize README with screenshots and badges
  README.md
  docs/screenshots/cat-cards-upgrades.png
  docs/screenshots/game-dashboard.png
  docs/screenshots/newspaper-fullpage.png
  docs/screenshots/newspaper-hero.png
  docs/screenshots/newspaper-viewport.png
Due: none

fix: address code review findings
  README.md
  docs/screenshots/newspaper-hero.png
Due: none

feature/modern readme (#4)
  README.md
  docs/screenshots/cat-cards-upgrades.png
  docs/screenshots/game-dashboard.png
  docs/screenshots/newspaper-fullpage.png
  docs/screenshots/newspaper-viewport.png
Due: none

docs: update latest release to v0.3.1
  CLAUDE.md
Due: none

docs: add screenshot path to CLAUDE.md
  CLAUDE.md
Due: none

chore(ralph): add 6-hat feature loop config and prompt
  PROMPT.md
  ralph.yml
Due: gitleaks

feat: add colony morale barometer with multi-factor scoring
  app/game/newspaper/page.tsx
  docs/pr-assets/feature-colony-morale-barometer/morale-barometer-extras.png
  docs/pr-assets/feature-colony-morale-barometer/morale-weather-section.png
  lib/game/morale.ts
  tests/unit/game/morale.test.ts
  vitest.config.ts
Due: gitleaks, lint

feat(ralph): convert to continuous generative feature loop
  PROMPT.md
  ralph.yml
Due: gitleaks

feat(combat): calculate colony defense from wall buildings
  convex/encounters.ts
  lib/game/combat.ts
  tests/unit/game/combat.test.ts
Due: gitleaks, lint

feat(game): add deterministic weather system
  lib/game/index.ts
  lib/game/weather.ts
  tests/unit/game/weather.test.ts
Due: gitleaks, lint

feat: add cat mood system with TDD
  lib/game/index.ts
  lib/game/mood.ts
  tests/unit/game/mood.test.ts
Due: gitleaks, lint

feat: add resource trends analysis module
  lib/game/index.ts
  lib/game/resourceTrends.ts
  tests/unit/game/resourceTrends.test.ts
Due: gitleaks, lint

feat: add seasonal cycle system with 4 seasons and resource modifiers
  lib/game/index.ts
  lib/game/seasons.ts
  tests/unit/game/seasons.test.ts
Due: gitleaks, lint

feat(naming): add cat naming system with warrior cats conventions
  lib/game/index.ts
  lib/game/naming.ts
  tests/unit/game/naming.test.ts
Due: gitleaks, lint

feat: add cat relationship affinity tracking system
  lib/game/index.ts
  lib/game/relationships.ts
  tests/unit/game/relationships.test.ts
Due: gitleaks, lint

feat: add predator threat level assessment system
  lib/game/index.ts
  lib/game/threats.ts
  tests/unit/game/threats.test.ts
Due: gitleaks, lint

feat: add colony achievement tracking system
  lib/game/achievements.ts
  lib/game/index.ts
  tests/unit/game/achievements.test.ts
Due: gitleaks, lint

feat: add colony reputation system
  lib/game/index.ts
  lib/game/reputation.ts
  tests/unit/game/reputation.test.ts
Due: gitleaks, lint

feat: add colony census & demographics system
  lib/game/census.ts
  lib/game/index.ts
  tests/unit/game/census.test.ts
Due: gitleaks, lint

feat(obituaries): add cat obituary generator for newspaper
  lib/game/index.ts
  lib/game/obituaries.ts
  tests/unit/game/obituaries.test.ts
Due: gitleaks, lint

feat(personality): add cat personality profile system
  lib/game/index.ts
  lib/game/personality.ts
  tests/unit/game/personality.test.ts
Due: gitleaks, lint

feat: add exploration reports module for newspaper field dispatches
  lib/game/explorationReports.ts
  lib/game/index.ts
  tests/unit/game/explorationReports.test.ts
Due: gitleaks, lint

feat: add colony supply & demand market report system
  lib/game/index.ts
  lib/game/supplyDemand.ts
  tests/unit/game/supplyDemand.test.ts
Due: gitleaks, lint

feat: add cat skill rankings system
  lib/game/index.ts
  lib/game/skillRankings.ts
  tests/unit/game/skillRankings.test.ts
Due: gitleaks, lint

feat: add colony proverbs & wisdom system
  lib/game/index.ts
  lib/game/proverbs.ts
  tests/unit/game/proverbs.test.ts
Due: gitleaks, lint

feat(birth-announcements): add newspaper birth announcements system
  lib/game/birthAnnouncements.ts
  lib/game/index.ts
  tests/unit/game/birthAnnouncements.test.ts
Due: gitleaks, lint

feat(classifiedAds): add newspaper classified ads generator
  lib/game/classifiedAds.ts
  lib/game/index.ts
  tests/unit/game/classifiedAds.test.ts
Due: gitleaks, lint

feat(horoscope): add colony zodiac signs and daily fortunes
  lib/game/horoscope.ts
  lib/game/index.ts
  tests/unit/game/horoscope.test.ts
Due: gitleaks, lint

feat(chronicle): add colony chronicle historical retrospective system
  lib/game/chronicle.ts
  lib/game/index.ts
  tests/unit/game/chronicle.test.ts
Due: gitleaks, lint

feat: add crime blotter / police gazette column
  lib/game/crimeBlotter.ts
  lib/game/index.ts
  tests/unit/game/crimeBlotter.test.ts
Due: gitleaks, lint

feat(advice-column): add Dear Tabby advice column with TDD
  lib/game/adviceColumn.ts
  lib/game/index.ts
  tests/unit/game/adviceColumn.test.ts
Due: gitleaks, lint
