Repository beastyrabbit/cat_idler: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint

gitleaks:
  run: gitleaks protect --staged --no-banner

lint:
  run: bun run lint

Review fixes: buildRoad DoS guard, events retention, dead code
  server/game.ts
Due: gitleaks, lint

Docs: engine analysis verdicts (PixiJS renderer; stay web-native)
  docs/ENGINE_FRONTEND.md
  docs/ENGINE_PLATFORM.md
Due: none

Docs: bring CLAUDE.md, README, ROADMAP current with the god-sim
  CLAUDE.md
  README.md
  docs/ROADMAP.md
Due: none

Identity hardening: HMAC-signed sessions, rate limits, cache fix
  app/api/game/actions/route.ts
  app/api/game/dashboard/route.ts
  hooks/useGameDashboard.ts
  lib/game/identity.ts
  lib/game/rateLimiter.ts
  server/players.ts
  tests/integration/serverActionsRoute.test.ts
  tests/unit/game/identity.test.ts
  tests/unit/game/rateLimiter.test.ts
Due: gitleaks, lint

Security: verified-identity rate keys, IP buckets, fail-closed secret
  app/api/game/actions/route.ts
  server/players.ts
Due: gitleaks, lint

Terrain live: Isometric Nature world with elevation, cliffs, stairs, rivers
  components/map/BuildingLayer.tsx
  components/map/CatLayer.tsx
  components/map/MapScreen.tsx
  components/map/RaiderLayer.tsx
  components/map/TileLayer.tsx
  components/map/constants.ts
  components/map/natureMapping.ts
  hooks/useGameDashboard.ts
  lib/game/isoProjection.ts
  lib/game/pathfinding.ts
  lib/game/terrainGen.ts
  lib/game/terrainWorld.ts
  server/game.ts
  server/worldMap.ts
  tests/unit/game/isoProjection.test.ts
  tests/unit/game/pathfinding.test.ts
  tests/unit/game/terrainWorld.test.ts
Due: gitleaks, lint

Terrain registration fix: measured geometry, seamless ground
  components/map/TileLayer.tsx
  components/map/constants.ts
  components/map/natureMapping.ts
  lib/game/isoProjection.ts
  tests/unit/game/isoProjection.test.ts
Due: gitleaks, lint

Raid balance: militia defense, easy early raids, capped losses
  lib/game/threat.ts
  lib/game/warriors.ts
  server/raids.ts
  tests/integration/serverRaids.test.ts
  tests/unit/game/threat.test.ts
  tests/unit/game/warriors.test.ts
Due: gitleaks, lint

Cliffs read as walls, stairs connect levels
  components/map/TileLayer.tsx
  lib/game/isoProjection.ts
  lib/game/terrainGen.ts
  tests/unit/game/terrainGen.test.ts
Due: gitleaks, lint

Revert map to Miniature tileset: flat, textured, oriented roads
  components/map/BuildingLayer.tsx
  components/map/CatLayer.tsx
  components/map/MapScreen.tsx
  components/map/RaiderLayer.tsx
  components/map/TileLayer.tsx
  components/map/constants.ts
  components/map/natureMapping.ts
  lib/game/isoProjection.ts
  lib/game/pathfinding.ts
  public/images/iso/tiles/path-corner-e.png
  public/images/iso/tiles/path-corner-n.png
  public/images/iso/tiles/path-corner-s.png
  public/images/iso/tiles/path-corner-w.png
  public/images/iso/tiles/path-crossing.png
  public/images/iso/tiles/path-straight-e.png
  public/images/iso/tiles/path-straight-n.png
  tests/unit/game/isoProjection.test.ts
  tests/unit/game/pathfinding.test.ts
  tests/unit/map/roadSprites.test.ts
Due: gitleaks, lint

Autotile completions, fog-corner fix, clearing edge, stumps, /dev/fit
  app/dev/fit/page.tsx
  components/map/TileLayer.tsx
  components/map/constants.ts
  lib/game/depletion.ts
  public/images/iso/tiles/path-clearing-e.png
  public/images/iso/tiles/path-clearing-n.png
  public/images/iso/tiles/path-clearing-s.png
  public/images/iso/tiles/path-clearing-w.png
  public/images/iso/tiles/path-end-e.png
  public/images/iso/tiles/path-end-n.png
  public/images/iso/tiles/path-end-s.png
  public/images/iso/tiles/path-end-w.png
  public/images/iso/tiles/stump.png
  tests/unit/game/depletion.test.ts
  tests/unit/map/roadSprites.test.ts
Due: gitleaks, lint

Survival: staggered founder ages, breeding headroom, world persists
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/integration/serverSurvivalBalance.test.ts
  tests/integration/serverWorldPersistence.test.ts
Due: gitleaks, lint

Fog renders as dimmed terrain, not blank diamonds
  components/map/TileLayer.tsx
Due: gitleaks, lint

Survival test: raids actually fire in the medium-village regression
  tests/integration/serverSurvivalBalance.test.ts
Due: gitleaks, lint

Tests: pin L-route determinism, correct survival-test premise
  tests/integration/serverGame.test.ts
  tests/integration/serverSurvivalBalance.test.ts
Due: gitleaks, lint

Bootstrap economy: unaided colonies survive (100% in faithful sims)
  lib/game/idleEngine.ts
  lib/game/lifeSim.ts
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/integration/serverSurvivalBalance.test.ts
  tests/integration/survivalRealtime.harness.test.ts
  tests/unit/game/lifeSim.test.ts
Due: gitleaks, lint

Trim starting food to 150; stabilize the L-route trail test
  server/game.ts
  tests/integration/serverGame.test.ts
Due: gitleaks, lint

Terrain-cost pathfinding: cats skirt forests and funnel onto roads
  lib/game/pathfinding.ts
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/unit/game/pathfinding.test.ts
Due: gitleaks, lint

Organic village core: claimed-tile area with edge-derived auto-fence
  app/dev/fit/page.tsx
  lib/game/villageArea.ts
  tests/unit/game/villageArea.test.ts
Due: gitleaks, lint

PixiJS renderer spike: /game/pixi holds 60fps at whole-map zoom
  app/game/pixi/page.tsx
  bun.lock
  lib/render/pixi/PixiMapScreen.tsx
  lib/render/pixi/chunkStore.ts
  lib/render/pixi/scene.ts
  lib/render/pixi/textures.ts
  lib/render/pixi/tileVisual.ts
  lib/render/pixi/tint.ts
  package.json
Due: gitleaks, lint

Docs: refresh roadmap status and record the validated PixiJS verdict
  docs/ENGINE_FRONTEND.md
  docs/ROADMAP.md
Due: none

Organic village: the settlement grows one claimed tile at a time
  app/api/game/chunks/route.ts
  components/map/MapScreen.tsx
  components/map/TileLayer.tsx
  components/map/constants.ts
  db/migrations/0010_typical_meteorite.sql
  db/migrations/meta/0010_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  lib/game/idleEngine.ts
  lib/game/movement.ts
  lib/game/pathfinding.ts
  lib/game/villageArea.ts
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/integration/serverVillageArea.test.ts
  types/game.ts
Due: gitleaks, lint

Gitignore renderer-verify screenshots and the Paws & Whiskers pack
  .gitignore
Due: none

Fix review findings before merge
  .eslintrc.json
  app/api/game/actions/route.ts
  app/dev/tiles/page.tsx
  biome.json
  components/map/MapScreen.tsx
  eslint.config.mjs
  hooks/useGameDashboard.ts
  lib/render/pixi/PixiMapScreen.tsx
  lib/render/pixi/scene.ts
  lib/render/pixi/tileVisual.ts
  server/game.ts
  server/raids.ts
  server/worldMap.ts
  tests/e2e/README.md
  tests/e2e/building-placement.spec.js
  tests/e2e/colony-lifecycle.spec.js
  tests/e2e/helpers.js
  tests/e2e/navigation.spec.js
  tests/e2e/resource-bars.spec.js
  tests/e2e/run-tests.js
  tests/e2e/user-interactions.spec.js
  tests/integration/serverGame.test.ts
  tsconfig.json
Due: gitleaks, lint

Document Paws & Whiskers license blocker
  .gitignore
  docs/paws-whiskers-audit.md
Due: none

Optimize path-wear decay SQL
  db/migrations/0011_motionless_korvac.sql
  db/migrations/meta/0011_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  docs/path-wear-decay-measurements.md
  scripts/bench-path-wear-decay.ts
  server/game.ts
  tests/integration/pathWearDecay.test.ts
Due: gitleaks, lint

Refs #1 extract shared tile visuals
  app/dev/fit/page.tsx
  components/map/TileLayer.tsx
  components/map/constants.ts
  lib/game/tileVisuals.ts
  lib/render/pixi/scene.ts
  lib/render/pixi/textures.ts
  lib/render/pixi/tileVisual.ts
  tests/unit/game/tileVisuals.test.ts
Due: gitleaks, lint

Add raider interception during raid movement
  lib/game/leaderAI.ts
  lib/game/leaderDirector.ts
  lib/game/raidInterception.ts
  server/game.ts
  server/raids.ts
  tests/integration/serverRaids.test.ts
  tests/unit/game/leaderDirector.test.ts
  tests/unit/game/raidInterception.test.ts
Due: gitleaks, lint

Add elevation-aware movement seams
  app/dev/fit/page.tsx
  components/map/ElevationAffordance.tsx
  components/map/MapScreen.tsx
  components/map/TileLayer.tsx
  lib/game/elevation.ts
  lib/game/pathfinding.ts
  lib/game/zones.ts
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/unit/game/elevation.test.ts
  tests/unit/game/pathfinding.test.ts
  tests/unit/game/zones.test.ts
Due: gitleaks, lint

Promote Pixi map renderer
  app/game/dom/page.tsx
  app/game/page.tsx
  components/map/MapScreen.tsx
  components/map/TileLayer.tsx
  lib/render/mapTileVisual.ts
  lib/render/pixi/PixiMapScreen.tsx
  lib/render/pixi/PixiViewportLayer.tsx
  lib/render/pixi/chunkStore.ts
  lib/render/pixi/lod.ts
  lib/render/pixi/scene.ts
  lib/render/pixi/textures.ts
  lib/render/pixi/tileVisual.ts
  tests/unit/render/pixiChunkStore.test.ts
  tests/unit/render/pixiLod.test.ts
Due: gitleaks, lint

Add bridge construction and pathing
  app/dev/fit/page.tsx
  components/map/BuildingLayer.tsx
  components/map/constants.ts
  db/schema.ts
  lib/game/bridges.ts
  lib/game/leaderAI.ts
  lib/game/leaderDirector.ts
  lib/game/pathfinding.ts
  lib/render/pixi/scene.ts
  lib/render/pixi/textures.ts
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/unit/game/bridges.test.ts
  tests/unit/game/leaderDirector.test.ts
  tests/unit/game/pathfinding.test.ts
  types/game.ts
Due: gitleaks, lint

Add fishing job economy
  components/map/CatLayer.tsx
  components/map/MapScreen.tsx
  db/schema.ts
  lib/game/idleEngine.ts
  lib/game/leaderAI.ts
  lib/game/leaderDirector.ts
  lib/game/movement.ts
  lib/game/shoreline.ts
  lib/game/skills.ts
  lib/game/tasks.ts
  server/game.ts
  tests/integration/serverGame.test.ts
  tests/unit/game/idleEngine.test.ts
  tests/unit/game/leaderDirector.test.ts
  tests/unit/game/movement.test.ts
  tests/unit/game/shoreline.test.ts
  types/game.ts
Due: gitleaks, lint

Harden vote identity dedupe
  CLAUDE.md
  app/api/game/actions/route.ts
  app/api/subscriber-hash/route.ts
  db/migrations/0011_shallow_iceman.sql
  db/migrations/meta/0011_snapshot.json
  db/migrations/meta/_journal.json
  db/schema.ts
  docs/vote-integrity-threat-model.md
  lib/game/elections.ts
  server/elections.ts
  server/game.ts
  server/players.ts
  server/voterIdentity.ts
  tests/integration/serverActionsRoute.test.ts
  tests/integration/serverGame.test.ts
  tests/unit/game/voterIdentity.test.ts
Due: gitleaks, lint

Vendor engine MCP servers + record engine/MCP evaluation
  .gitignore
  .mcp.json
  docs/ENGINE_MCP_EVALUATION.md
  mcp-servers/.gitignore
  mcp-servers/README.md
  mcp-servers/godot-mcp/.github/FUNDING.yml
  mcp-servers/godot-mcp/.gitignore
  mcp-servers/godot-mcp/CONTRIBUTING.md
  mcp-servers/godot-mcp/LICENSE
  mcp-servers/godot-mcp/README.md
  mcp-servers/godot-mcp/package-lock.json
  mcp-servers/godot-mcp/package.json
  mcp-servers/godot-mcp/scripts/build.js
  mcp-servers/godot-mcp/src/index.ts
  mcp-servers/godot-mcp/src/scripts/godot_operations.gd
  mcp-servers/godot-mcp/tsconfig.json
  mcp-servers/love2d-mcp/.gitignore
  mcp-servers/love2d-mcp/CLAUDE.md
  mcp-servers/love2d-mcp/CONTRIBUTING.md
  mcp-servers/love2d-mcp/EXAMPLES.md
  mcp-servers/love2d-mcp/LICENSE
  mcp-servers/love2d-mcp/README.md
  mcp-servers/love2d-mcp/game/main.lua
  mcp-servers/love2d-mcp/game/mcp_bridge.lua
  mcp-servers/love2d-mcp/package-lock.json
  mcp-servers/love2d-mcp/package.json
  mcp-servers/love2d-mcp/src/index.ts
  mcp-servers/love2d-mcp/tsconfig.json
Due: gitleaks, lint

Scaffold the Rust/Bevy Cargo workspace
  Cargo.lock
  Cargo.toml
  crates/cat-client/Cargo.toml
  crates/cat-client/reference/spike-Cargo.toml
  crates/cat-client/reference/spike-bevy-0.19.rs
  crates/cat-client/src/lib.rs
  crates/cat-desktop/Cargo.toml
  crates/cat-desktop/src/main.rs
  crates/cat-protocol/Cargo.toml
  crates/cat-protocol/src/lib.rs
  crates/cat-server/Cargo.toml
  crates/cat-server/src/main.rs
  crates/cat-sim/Cargo.toml
  crates/cat-sim/src/lib.rs
  crates/cat-web/Cargo.toml
  crates/cat-web/src/main.rs
Due: gitleaks

Rust QA toolchain, glob-scoped lefthook hooks, migration task board
  crates/cat-client/reference/README.md
  docs/migration/BOARD.md
  lefthook.yml
Due: gitleaks

Stand up the in-project codex persona org
  AGENTS.md
  codex/README.md
  codex/personas/developer.md
  codex/personas/integrator.md
  codex/personas/qa.md
  codex/personas/researcher.md
  codex/personas/scrum-master.md
  codex/personas/test-engineer.md
  codex/run-persona.sh
Due: none

cat-sim: port the seeded LCG RNG (P1.1)
  crates/cat-sim/src/lib.rs
  crates/cat-sim/src/rng.rs
  docs/migration/BOARD.md
Due: none

Golden-master fixture generator (P0.7)
  docs/migration/BOARD.md
  scripts/gen-golden.ts
Due: gitleaks, lint

Board: mark P0 done
  docs/migration/BOARD.md
Due: none

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yaml,yml,toml}
  lint: any of: *.{ts,tsx,js,jsx,mjs}
